<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>登录系统  Central Authentication Service</title>
    <link rel="stylesheet" th:href="@{${#themes.code('standard.custom.css.file')}}">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
</head>

<body id="cas" style='background: url("images/login_bg.jpg") no-repeat fixed;background-size: 100% auto'>

<div id="container">

    <div id="content" class="login-content">
     
        <div class="box" id="login">
            <!-- <img src="images/qrcode.png" style="position: absolute;right: 0;top:0;cursor: pointer;" id="qrcode"> -->
            <div style="text-align:center;position:relative;">
                <img src="images/apereo-logo.png" height="48px" style="margin-bottom:20px;display:inline-block">
            </div>
            <div id="pc-login">
		        
		        
                <form id="fm1" th:object="${credential}" method="post">
                	<div th:if="${#fields.hasErrors('*')}">
			            <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
			        </div>
			        <h2 th:utext="#{screen.welcome.instructions}"></h2>
		        <section class="row">
		            <label for="username" th:utext="#{screen.welcome.label.netid}"/>
		            <div th:unless="${openIdLocalId}">
		                <input class="required"
		                       id="username"
		                       size="25"
		                       tabindex="1"
		                       type="text"
		                       th:disabled="${guaEnabled}"
		                       th:field="*{username}"
		                       th:accesskey="#{screen.welcome.label.netid.accesskey}"
		                       autocomplete="off"/>
		            </div>
		        </section>
                    <section class="input-outer">
                        <i class='ui-user'></i>
                                <input id="username" name="username" class="text" tabindex="1" placeholder="请输入用户名" accesskey="n" type="text" value="" size="25"/>
                    </section>

                    <section class="input-outer">
                        <i class='ui-loginPwd'></i>
                        <input id="password" name="password" class="text" tabindex="2" placeholder="请输入密码" accesskey="p" type="password" value="" size="25"/>
                    </section>
                    <section class="input-outer" style="display:flex">
                        <i class="ui-captcha"></i>
                        <input type="text" id="captcha" name="captcha" class="text" maxlength='4' placeholder="验证码"
                               tabindex="3"
                               style="width:90px;vertical-align: top;ont-size: 24px;border-right:1px solid #ccc;flex:1"/>
                        <img src='captcha.jpg' onclick="this.src='captcha.jpg?ts='+new Date().getTime()" height="42px"/>

                    </section>
                    <section class="row " >
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="checkbox" id="rememberMe" name="rememberMe" value="true">
                                <i></i>
                                记住我
                            </label>
                        </div>
                    </section>

                    <section class="row check" style="display:none">
                        <input id="warn" name="warn" value="true" tabindex="4"
                               accesskey="w" type="checkbox"/>
                        <label for="warn">转向其他站点前提示我。</label>
                    </section>

                    <section class="row btn-row">
                        <input type="hidden" name="lt" value="LT-72-wwnBiFnsLVXkoFp6612dMD04YKzd9Z-127.0.0.1"/>
                        <input type="hidden" name="execution" value="e1s1"/>
                        <input type="hidden" name="_eventId" value="submit"/>

                        <input class="btn btn-submit btn-block" name="submit" accesskey="l" onclick="return saveUsername()"
                               value="登录" tabindex="4" type="submit"/>
                    </section>
                    <section class="row helper" >
                        <a href="http://uc.jinkzy.com/help/" target="_blank" style="color:#888;text-decoration: none">使用帮助</a>
                    </section>
                </form>
            </div>
            <div id="module-login">
                <img src="images/download-page.png" >
                <div style="font-family: 微软雅黑;font-size: 18px;text-align: center;font-weight: 300;">客户端下载</div>
            </div>

        </div>
    </div>
    <!-- END #content -->


</div>
<!-- END #container -->

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>


<script type="text/javascript" src="js/ba-debug.min.js"></script>


<script type="text/javascript" src="js/cas.js"></script>
 
<script type="text/javascript">
    var name = localStorage.getItem("username");
    var password = localStorage.getItem("password");
    var checked=localStorage.getItem("rememberMe");
    $(function () {
        if(name && name!=null && name!="null")
        $("#username").val(name);
        if(password && password!=null && password!="null")
        $("#password").val(password);
        if(checked=="true"){
            $("#rememberMe").click();
        }
        var $pcLogin=$("#pc-login");
        var $moduleLogin=$("#module-login");
        $("#qrcode").click(function () {
            if($pcLogin.css("display")=="none"){
                $moduleLogin.hide();
                $pcLogin.show();
                $(this).attr("src","images/qrcode.png");
            }else{
                $pcLogin.hide();
                $moduleLogin.show();
                $(this).attr("src","images/pc.png");
            }

        });

        $(".input-outer input").each(function () {
            var $input=$(this);
            $input.on("focus",function(){
                $(this).parent().css("border-color","#0096e6")
            });
            $input.on("blur",function(){
                $(this).parent().css("border-color","#ccc")
            });
        });
    });
    function saveUsername() {

        var username = $("#username").val();
        var password = $("#password").val();

        localStorage.setItem("username", username);
        var checked = $("#rememberMe").val();
        if (!$("#rememberMe").is(":checked")) {
            password = "";
        }
        localStorage.setItem("rememberMe",checked);
        localStorage.setItem("password", password);
        return true;
    }
</script>
</body>
</html>