<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjgj.crm.mybatis.CasWxUserMybatisDao">

	<resultMap id="RM_CasWxUser" type="com.zjgj.crm.entity.CasWxUser">
        <result property="openId" column="open_id"/>
        <result property="userId" column="user_id"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="CasWxUser_columns">
		open_id,user_id
	</sql>
	
	<!-- 添加 -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cas_wx_user (
        	open_id ,
        	user_id 
        ) VALUES (	
        	#{openId} ,
        	#{userId} 
        )
	</insert>
    
	<!-- 修改 -->
	<update id="update" >
        UPDATE cas_wx_user 
		<set>
		</set>
        WHERE 
	        open_id = #{openId} ,
	        user_id = #{userId} 
	</update>

	<!-- 删除 -->
    <delete id="delete">
		DELETE FROM cas_wx_user WHERE
        open_id = #{id} ,
        user_id = #{id} 
    </delete>
	
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM  cas_wx_user  WHERE
        open_iduser_id IN 
        <foreach item="item" collection="idsList" open="(" separator="," close=")">
#{item}		</foreach>  
    </delete>
    
	<!-- 根据主键获取对象 -->
    <select id="getByID" resultMap="RM_CasWxUser">
		SELECT <include refid="CasWxUser_columns" />
		FROM cas_wx_user WHERE 
		open_id = #{id} ,
		user_id = #{id} 
	</select>
	
	<!-- 获取总条数 -->
	<select id="countAll" resultType="int">
        SELECT count(open_iduser_id) FROM cas_wx_user 
    </select>
	
	<!-- 获取所有 -->
	<select id="findAll" resultMap="RM_CasWxUser">
        SELECT <include refid="CasWxUser_columns" /> 
		FROM cas_wx_user 
    </select>
	
	<!-- 提取公共WHERE -->
	<sql id="CasWxUser_where">
		<where>
			 
	       <if test="@com.zjgj.crm.util.Ognl@isNotEmpty(openId)">
				AND open_id = #{openId}
			</if>
	       <if test="@com.zjgj.crm.util.Ognl@isNotEmpty(userId)">
				AND user_id = #{userId}
			</if>
		</where>
	</sql>
	
	<!-- 根据条件获取条数 -->
    <select id="findNumberByCondition" resultType="int">
        SELECT count(open_iduser_id) FROM cas_wx_user 
		<include refid="CasWxUser_where"/>    
    </select>
    
	<!-- 根据条件获取集合 -->
    <select id="findPageBreakByCondition" resultMap="RM_CasWxUser">
    	SELECT <include refid="CasWxUser_columns" />
	    FROM cas_wx_user 
		<include refid="CasWxUser_where"/>
		
		<if test="@com.zjgj.crm.util.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
</mapper>

