<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjgj.uc.mybatis.CasDeptMybatisDao">

	<resultMap id="RM_CasDept" type="com.zjgj.uc.entity.CasDept">
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="deptParent" column="dept_parent"/>
        <result property="deptStat" column="dept_stat"/>
        <result property="deptDel" column="dept_del"/>
        <result property="deptIcon" column="dept_icon"/>
        <result property="deptSeq" column="dept_seq"/>
        <result property="creTime" column="cre_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="CasDept_columns">
		dept_id,dept_name,dept_parent,dept_stat,dept_del,dept_icon,dept_seq,cre_time
	</sql>
	
	<!-- 添加 -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cas_dept (
        	dept_id ,
        	dept_name ,
        	dept_parent ,
        	dept_stat ,
        	dept_del ,
        	dept_icon ,
        	dept_seq ,
        	cre_time 
        ) VALUES (	
        	#{deptId} ,
        	#{deptName} ,
        	#{deptParent} ,
        	#{deptStat} ,
        	#{deptDel} ,
        	#{deptIcon} ,
        	#{deptSeq} ,
        	#{creTime} 
        )
	</insert>
    
	<!-- 修改 -->
	<update id="update" >
        UPDATE cas_dept 
		<set>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(deptName)">dept_name = #{deptName} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(deptParent)">dept_parent = #{deptParent} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(deptStat)">dept_stat = #{deptStat} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(deptDel)">dept_del = #{deptDel} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(deptIcon)">dept_icon = #{deptIcon} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(deptSeq)">dept_seq = #{deptSeq} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(creTime)">cre_time = #{creTime} </if>
		</set>
        WHERE 
	        dept_id = #{deptId} 
	</update>

	<!-- 删除 -->
    <delete id="delete">
		DELETE FROM cas_dept WHERE
        dept_id = #{id} 
    </delete>
	
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM  cas_dept  WHERE
        dept_id IN 
        <foreach item="item" collection="idsList" open="(" separator="," close=")">
#{item}		</foreach>  
    </delete>
    
	<!-- 根据主键获取对象 -->
    <select id="getByID" resultMap="RM_CasDept">
		SELECT <include refid="CasDept_columns" />
		FROM cas_dept WHERE 
		dept_id = #{id} 
	</select>
	
	<!-- 获取总条数 -->
	<select id="countAll" resultType="int">
        SELECT count(dept_id) FROM cas_dept 
    </select>
	
	<!-- 获取所有 -->
	<select id="findAll" resultMap="RM_CasDept">
        SELECT <include refid="CasDept_columns" /> 
		FROM cas_dept 
    </select>
	
	<!-- 提取公共WHERE -->
	<sql id="CasDept_where">
		<where>
			 
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(deptId)">
				AND dept_id = #{deptId}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(deptName)">
				AND dept_name = #{deptName}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(deptParent)">
				AND dept_parent = #{deptParent}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(deptStat)">
				AND dept_stat = #{deptStat}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(deptDel)">
				AND dept_del = #{deptDel}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(deptIcon)">
				AND dept_icon = #{deptIcon}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(deptSeq)">
				AND dept_seq = #{deptSeq}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(creTimeBegin)">
				AND cre_time >= #{creTimeBegin}
		   </if>
		   <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(creTimeEnd)">
				AND cre_time &lt;= #{creTimeEnd}
		   </if>
		</where>
	</sql>
	
	<!-- 根据条件获取条数 -->
    <select id="findNumberByCondition" resultType="int">
        SELECT count(dept_id) FROM cas_dept 
		<include refid="CasDept_where"/>    
    </select>
    
	<!-- 根据条件获取集合 -->
    <select id="findPageBreakByCondition" resultMap="RM_CasDept">
    	SELECT <include refid="CasDept_columns" />
	    FROM cas_dept 
		<include refid="CasDept_where"/>
		
		<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
</mapper>

