<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjgj.uc.mybatis.WxUserMybatisDao">

	<resultMap id="RM_WxUser" type="com.zjgj.uc.entity.WxUser">
        <result property="openId" column="open_id"/>
        <result property="nickname" column="nickname"/>
        <result property="sex" column="sex"/>
        <result property="language" column="language"/>
        <result property="city" column="city"/>
        <result property="province" column="province"/>
        <result property="country" column="country"/>
        <result property="headimg" column="headimg"/>
        <result property="privilege" column="privilege"/>
        <result property="creTime" column="cre_time"/>
        <result property="uptTime" column="upt_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="WxUser_columns">
		open_id,nickname,sex,language,city,province,country,headimg,privilege,cre_time,upt_time
	</sql>
	
	<!-- 添加 -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wx_user (
        	open_id ,
        	nickname ,
        	sex ,
        	language ,
        	city ,
        	province ,
        	country ,
        	headimg ,
        	privilege ,
        	cre_time ,
        	upt_time 
        ) VALUES (	
        	#{openId} ,
        	#{nickname} ,
        	#{sex} ,
        	#{language} ,
        	#{city} ,
        	#{province} ,
        	#{country} ,
        	#{headimg} ,
        	#{privilege} ,
        	#{creTime} ,
        	#{uptTime} 
        )
	</insert>
    
	<!-- 修改 -->
	<update id="update" >
        UPDATE wx_user 
		<set>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(nickname)">nickname = #{nickname} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(sex)">sex = #{sex} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(language)">language = #{language} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(city)">city = #{city} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(province)">province = #{province} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(country)">country = #{country} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(headimg)">headimg = #{headimg} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(privilege)">privilege = #{privilege} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(creTime)">cre_time = #{creTime} ,</if>
			<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(uptTime)">upt_time = #{uptTime} </if>
		</set>
        WHERE 
	        open_id = #{openId} 
	</update>

	<!-- 删除 -->
    <delete id="delete">
		DELETE FROM wx_user WHERE
        open_id = #{id} 
    </delete>
	
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM  wx_user  WHERE
        open_id IN 
        <foreach item="item" collection="idsList" open="(" separator="," close=")">
#{item}		</foreach>  
    </delete>
    
	<!-- 根据主键获取对象 -->
    <select id="getByID" resultMap="RM_WxUser">
		SELECT <include refid="WxUser_columns" />
		FROM wx_user WHERE 
		open_id = #{id} 
	</select>
	
	<!-- 获取总条数 -->
	<select id="countAll" resultType="int">
        SELECT count(open_id) FROM wx_user 
    </select>
	
	<!-- 获取所有 -->
	<select id="findAll" resultMap="RM_WxUser">
        SELECT <include refid="WxUser_columns" /> 
		FROM wx_user 
    </select>
	
	<!-- 提取公共WHERE -->
	<sql id="WxUser_where">
		<where>
			 
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(openId)">
				AND open_id = #{openId}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(nickname)">
				AND nickname = #{nickname}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(sex)">
				AND sex = #{sex}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(language)">
				AND language = #{language}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(city)">
				AND city = #{city}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(province)">
				AND province = #{province}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(country)">
				AND country = #{country}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(headimg)">
				AND headimg = #{headimg}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(privilege)">
				AND privilege = #{privilege}
			</if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(creTimeBegin)">
				AND cre_time >= #{creTimeBegin}
		   </if>
		   <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(creTimeEnd)">
				AND cre_time &lt;= #{creTimeEnd}
		   </if>
	       <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(uptTimeBegin)">
				AND upt_time >= #{uptTimeBegin}
		   </if>
		   <if test="@com.zjgj.uc.util.Ognl@isNotEmpty(uptTimeEnd)">
				AND upt_time &lt;= #{uptTimeEnd}
		   </if>
		</where>
	</sql>
	
	<!-- 根据条件获取条数 -->
    <select id="findNumberByCondition" resultType="int">
        SELECT count(open_id) FROM wx_user 
		<include refid="WxUser_where"/>    
    </select>
    
	<!-- 根据条件获取集合 -->
    <select id="findPageBreakByCondition" resultMap="RM_WxUser">
    	SELECT <include refid="WxUser_columns" />
	    FROM wx_user 
		<include refid="WxUser_where"/>
		
		<if test="@com.zjgj.uc.util.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
</mapper>

