<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjgj.crm.mybatis.CasRoleResourceMybatisDao">

	<resultMap id="RM_CasRoleResource" type="com.zjgj.crm.entity.CasRoleResource">
        <result property="roleId" column="role_id"/>
        <result property="resId" column="res_id"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="CasRoleResource_columns">
		role_id,res_id
	</sql>
	
	<!-- 添加 -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cas_role_resource (
        	role_id ,
        	res_id 
        ) VALUES (	
        	#{roleId} ,
        	#{resId} 
        )
	</insert>
    
	<!-- 修改 -->
	<update id="update" >
        UPDATE cas_role_resource 
		<set>
		</set>
        WHERE 
	        role_id = #{roleId} ,
	        res_id = #{resId} 
	</update>

	<!-- 删除 -->
    <delete id="delete">
		DELETE FROM cas_role_resource WHERE
        role_id = #{id} ,
        res_id = #{id} 
    </delete>
	
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM  cas_role_resource  WHERE
        role_idres_id IN 
        <foreach item="item" collection="idsList" open="(" separator="," close=")">
#{item}		</foreach>  
    </delete>
    
	<!-- 根据主键获取对象 -->
    <select id="getByID" resultMap="RM_CasRoleResource">
		SELECT <include refid="CasRoleResource_columns" />
		FROM cas_role_resource WHERE 
		role_id = #{id} ,
		res_id = #{id} 
	</select>
	
	<!-- 获取总条数 -->
	<select id="countAll" resultType="int">
        SELECT count(role_idres_id) FROM cas_role_resource 
    </select>
	
	<!-- 获取所有 -->
	<select id="findAll" resultMap="RM_CasRoleResource">
        SELECT <include refid="CasRoleResource_columns" /> 
		FROM cas_role_resource 
    </select>
	
	<!-- 提取公共WHERE -->
	<sql id="CasRoleResource_where">
		<where>
			 
	       <if test="@com.zjgj.crm.util.Ognl@isNotEmpty(roleId)">
				AND role_id = #{roleId}
			</if>
	       <if test="@com.zjgj.crm.util.Ognl@isNotEmpty(resId)">
				AND res_id = #{resId}
			</if>
		</where>
	</sql>
	
	<!-- 根据条件获取条数 -->
    <select id="findNumberByCondition" resultType="int">
        SELECT count(role_idres_id) FROM cas_role_resource 
		<include refid="CasRoleResource_where"/>    
    </select>
    
	<!-- 根据条件获取集合 -->
    <select id="findPageBreakByCondition" resultMap="RM_CasRoleResource">
    	SELECT <include refid="CasRoleResource_columns" />
	    FROM cas_role_resource 
		<include refid="CasRoleResource_where"/>
		
		<if test="@com.zjgj.crm.util.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
</mapper>

