<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjgj.crm.mybatis.CrmGiftGroupMybatisDao">

	<resultMap id="RM_CrmGiftGroup" type="com.zjgj.crm.entity.CrmGiftGroup">
        <result property="giftGrpId" column="gift_grp_id"/>
        <result property="grpName" column="grp_name"/>
        <result property="grpData" column="grp_data"/>
        <result property="giftDel" column="gift_del"/>
        <result property="giftStat" column="gift_stat"/>
        <result property="creTime" column="cre_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="CrmGiftGroup_columns">
		gift_grp_id,grp_name,grp_data,gift_del,gift_stat,cre_time
	</sql>
	
	<!-- 添加 -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO crm_gift_group (
        	gift_grp_id ,
        	grp_name ,
        	grp_data ,
        	gift_del ,
        	gift_stat ,
        	cre_time 
        ) VALUES (	
        	#{giftGrpId} ,
        	#{grpName} ,
        	#{grpData} ,
        	#{giftDel} ,
        	#{giftStat} ,
        	#{creTime} 
        )
	</insert>
    
	<!-- 修改 -->
	<update id="update" >
        UPDATE crm_gift_group 
		<set>
			<if test="@com.zjgj.crm.util.Ognl@isNotEmpty(grpName)">grp_name = #{grpName} ,</if>
			<if test="@com.zjgj.crm.util.Ognl@isNotEmpty(grpData)">grp_data = #{grpData} ,</if>
			<if test="@com.zjgj.crm.util.Ognl@isNotEmpty(giftDel)">gift_del = #{giftDel} ,</if>
			<if test="@com.zjgj.crm.util.Ognl@isNotEmpty(giftStat)">gift_stat = #{giftStat} ,</if>
			<if test="@com.zjgj.crm.util.Ognl@isNotEmpty(creTime)">cre_time = #{creTime} </if>
		</set>
        WHERE 
	        gift_grp_id = #{giftGrpId} 
	</update>

	<!-- 删除 -->
    <delete id="delete">
		DELETE FROM crm_gift_group WHERE
        gift_grp_id = #{id} 
    </delete>
	
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM  crm_gift_group  WHERE
        gift_grp_id IN 
        <foreach item="item" collection="idsList" open="(" separator="," close=")">
#{item}		</foreach>  
    </delete>
    
	<!-- 根据主键获取对象 -->
    <select id="getByID" resultMap="RM_CrmGiftGroup">
		SELECT <include refid="CrmGiftGroup_columns" />
		FROM crm_gift_group WHERE 
		gift_grp_id = #{id} 
	</select>
	
	<!-- 获取总条数 -->
	<select id="countAll" resultType="int">
        SELECT count(gift_grp_id) FROM crm_gift_group 
    </select>
	
	<!-- 获取所有 -->
	<select id="findAll" resultMap="RM_CrmGiftGroup">
        SELECT <include refid="CrmGiftGroup_columns" /> 
		FROM crm_gift_group 
    </select>
	
	<!-- 提取公共WHERE -->
	<sql id="CrmGiftGroup_where">
		<where>
			 
	       <if test="@com.zjgj.crm.util.Ognl@isNotEmpty(giftGrpId)">
				AND gift_grp_id = #{giftGrpId}
			</if>
	       <if test="@com.zjgj.crm.util.Ognl@isNotEmpty(grpName)">
				AND grp_name = #{grpName}
			</if>
	       <if test="@com.zjgj.crm.util.Ognl@isNotEmpty(grpData)">
				AND grp_data = #{grpData}
			</if>
	       <if test="@com.zjgj.crm.util.Ognl@isNotEmpty(giftDel)">
				AND gift_del = #{giftDel}
			</if>
	       <if test="@com.zjgj.crm.util.Ognl@isNotEmpty(giftStat)">
				AND gift_stat = #{giftStat}
			</if>
	       <if test="@com.zjgj.crm.util.Ognl@isNotEmpty(creTimeBegin)">
				AND cre_time >= #{creTimeBegin}
		   </if>
		   <if test="@com.zjgj.crm.util.Ognl@isNotEmpty(creTimeEnd)">
				AND cre_time &lt;= #{creTimeEnd}
		   </if>
		</where>
	</sql>
	
	<!-- 根据条件获取条数 -->
    <select id="findNumberByCondition" resultType="int">
        SELECT count(gift_grp_id) FROM crm_gift_group 
		<include refid="CrmGiftGroup_where"/>    
    </select>
    
	<!-- 根据条件获取集合 -->
    <select id="findPageBreakByCondition" resultMap="RM_CrmGiftGroup">
    	SELECT <include refid="CrmGiftGroup_columns" />
	    FROM crm_gift_group 
		<include refid="CrmGiftGroup_where"/>
		
		<if test="@com.zjgj.crm.util.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
</mapper>

