/*
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License.  You may obtain a
 * copy of the License at the following location:
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:focus{
        box-shadow: 0 0 0 1000px #fff inset !important;
        -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { 
  margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; 
  font-family:"Microsoft Yahei", Verdana, sans-serif;
}
body { line-height: 1; }
.checkbox {
    display: inline-block;
    margin-right: 8px;
}
.i-checks input {
    opacity: 0;
    position: absolute;
    margin-left: -20px;
}
.checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.i-checks>i {
    width: 20px;
    height: 20px;
    line-height: 1;
    border: 1px solid #cfdadd;
    background-color: #fff;
    margin-left: -20px;
    margin-top: -2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
}
.i-checks input:checked+i {
    border-color: #23b7e5;
}
.i-checks>i:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    background-color: transparent;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.i-checks input:checked+i:before {
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-color: #23b7e5;
}
.checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
nav ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
body { font-size: 12px; line-height: 1.4em;  }
#header-container {
    height: 64px;
    margin: 0 auto;
    position: relative;
    width: 990px;
}
.box-shadow {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
#container { width: 100%; margin: 0 auto; }
header, #content {   }
#content { -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }
#content.login-content{
    width:90%;text-align:center;padding-top:5%
}
@media only screen and (max-width: 960px) { 
    #particles-js{
        display: none;
    }
  #container { width: 100%; }
  #content.login-content{
    width: 100%;padding: 0;
  }
  #qrcode{
      display: none;
  }
  .helper{
      display: none;
  }
  #content { -webkit-border-bottom-right-radius: 0px; -webkit-border-bottom-left-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; } 
}

header { padding-top: 10px; }
header #logo { display: block; width: 118px; height: 31px; text-indent: -999em; background: url(../images/ja-sig-logo.gif) no-repeat; margin: 0 0 10px 10px; }
header h1 { background: #210F7A; color: white; padding: 1.4em 1.4em; font-size: 2em; font-weight: normal; }

#content { padding: 10px; overflow: hidden; position: relative;width: 990px;margin: 0 auto}

#msg { padding: 20px; margin-bottom: 10px; }
#msg h2 { font-size: 1.4em; margin-bottom: 1em; }
#msg.errors { border: 1px dotted #BB0000; color: #BB0000; padding-left: 60px; background: url(../images/error.png) no-repeat 20px center; }
#msg.success { border: 1px dotted #390; color: #390; padding-left: 100px; background: url(../images/confirm.png) no-repeat 20px center; }
#msg.info { border: 1px dotted #008; color: #008; padding-left: 100px; background: url(../images/info.png) no-repeat 20px center; }
#msg.question { border: 1px dotted #390; color: #390; padding-left: 100px; background: url(../images/question.png) no-repeat 20px center; }
#msg.warn { border: 1px dotted #960; color: #960; padding-left: 100px; background: #ffbc8f url(../images/info.png) no-repeat 20px center; }
#msg.warn .message { color: black; margin: 1em; font-size: 1.4em }

#login {
    width: 350px;
    height: 470px;
    padding: 35px;
    background: rgba(255,255,255,0.9);
    display: inline-block;
    text-align: left;
    position: relative;z-index: 2;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
    box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
}
.ui-user, .ui-loginPwd,.ui-captcha {
    width: 25px;
    height: 25px;
    width: 25px;
    height: 25px;
    display: block;
    background: url(../images/login_ico.png);
    position: absolute;
    margin:9px;
}
.ui-user {
    background-position: -125px 0;
}
.ui-loginPwd {
    background-position: -125px -35px;
}
.ui-captcha{
     background-position: -85px -194px;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    outline: none;
}
#login .input-outer {
    height: 44px;
    border: #ccc 1px solid;
    margin-bottom: 20px;
    position: relative;
}
.input-outer .text {
    width: 224px;
    height: 42px;
    display: inline-block;
    color: #888;
    margin-left: 50px;
    border: none;
    background: none;
    line-height: 42px;font-size: 18px
}
.helper{
    text-align: right;
}
#fm1 { }
#fm1 h2 { font-size: 1.4em; font-weight: normal; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #DDDDDD; }
#fm1 .row { margin-bottom: 10px; }
#fm1 .row label { display: block; color: #777777; }
#fm1 .row input[type=text],
#fm1 .row input[type=password] { width:100%;padding: 6px;height: 38px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #DDDDDD; background: #FFFFDD; }
#fm1 .row.check { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #DDDDDD; color: #777; font-size: 11px; }
#fm1 .row.check label { display: inline; }
#fm1 .row .btn-submit { 
  
    text-align: center;
    font-size: 20px;
    color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #0096e6;
    height: 48px;
}
#fm1 .row .btn-reset { border: 0; background: none; color: #777; text-transform: lowercase; border-left: 1px solid #ddd; }
#fm1 .row .btn-submit:hover,
#fm1 .row .btn-reset:hover { cursor: pointer; }

#fm1 .row .captcha{
  padding: 0px;position: relative;border: 1px solid #ccc;height: 40px;
  background:none repeat scroll 0 0 #ffffdd;border-radius: 3px;overflow: hidden;
}
#fm1 .row .captcha input{
  background: none;border:none;width: 50%;
    font-size: 18px;
    height: 100%;
}
#fm1 .row .captcha img{
  position: absolute;right: 0px;height: 100%;border-left: 1px solid #ccc;cursor: pointer;top:0
}

#logo a {
    display: inline-block;
    float: left;
    height: 62px;
    overflow: hidden;
    text-indent: -999em;
    width: 190px;background:  url(../images/logo.png) no-repeat;background-size:100% auto;margin:5px
}
#sidebar { width: auto; height:430px;padding: 50px;}
#sidebar .sidebar-content { padding-left: 20px; }
#sidebar .sidebar-content p { margin-bottom: 1.4em; }

#list-languages ul { list-style: none; }
#list-languages ul li { display: inline-block; padding: 0px 10px; border-right: 1px solid #e2e2e2; }
#list-languages ul li:last-child { border: 0; line-height: 1.4em; }

footer { color: #999; margin: 20px 0; text-align: center;border-top: 1px solid #eee;padding: 20px}
 
@media only screen and (max-width: 960px) { 
  footer { padding-left: 10px; }
   #sidebar{
        display: block
    }
}

@media only screen and (max-width: 799px) {
    html{
        background: #fff;
    }
  header h1 { font-size: 1em; }
  #login { float: none; width: 100%; margin: 0;position: static;padding: 24px}
  #fm1 .row input[type=text], 
  #fm1 .row input[type=password] { width: 100%; padding: 10px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
  #fm1 .row .btn-submit { outline: none; -webkit-appearance: none; -webkit-border-radius: 0; border: 0;  color: white; font-weight: 300;font-size: 14px ;width: 100%; padding: 10px 20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
  #fm1 .row .btn-reset { display: none; }
  #sidebar { margin-top: 20px; }
  #sidebar .sidebar-content { padding: 0; display: block;}
}
@media only screen and (max-width: 640px) { 
    #content{
        width: 100%
    }
    #sidebar{
        display: none
    }
    #logo{
        padding-left: 0;text-align:center
    }
#header-container{width:100%}
#logo a{
float:none
}
}


#header {
    background: none repeat scroll 0 0 #fff;
  
    height: 64px;
    overflow: hidden;
    width: 100%;
}

#logo .header-title {
    color: #999;
    display: inline-block;
    float: left;
    font-family: Microsoft YaHei,Hiragino Sans GB,宋体;
    font-size: 22px;
    height: 23px;
    line-height: 23px;
    margin-top: 20px;
}

#navigation {
    float: right;
    font: 12px/75px Verdana,Arial,宋体,sans-serif;
    height: 75px;
}

#navigation a {
    color: #666;
}
a.button {
    font-weight:bold;
    height:1.7em;
    padding:1.2em 1em .6em 1em;
    text-align:center;
    text-decoration:none;
    color:white;
    background-color:#79946c;
    border-top:1px solid #82b36c;
    border-left:1px solid #82b36c;
    border-right:1px solid #304228;
    border-bottom:1px solid #304228;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#big-buttons a.button {
    display:block;
    position:relative;
    font-size: 1.6em;
    margin:20px auto;
    width:200px;
    overflow: hidden;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border-top:2px solid #82b36c;
    border-left:2px solid #82b36c;
    border-right:2px solid #304228;
    border-bottom:2px solid #304228;
}

a.button:hover {
    color:#ffff94;
    background-color:#819e73;
}

.button-down {
    border-top:1px solid #304228;
    border-left:1px solid #304228;
    border-right:1px solid #82b36c;
    border-bottom:1px solid #82b36c;
}

#big-buttons .button-down {
    border-top:2px solid #304228;
    border-left:2px solid #304228;
    border-right:2px solid #82b36c;
    border-bottom:2px solid #82b36c;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-success {
    background-color: #27c24c;
    border-color: #27c24c;
    color: #fff !important;
}
.btn-success:hover,.btn-success:active{
 background-color: #23ad44;
 border-color: #23ad44;
}
.btn-default {
    background-color: #fff;
    border-color: #dee5e7 #dee5e7 #d8e1e3;
    box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
    color: #58666e !important;
}
.btn-default:hover,.btn-default:active{
 background-color: #c7d3d6;
 border-color: #c7d3d6;
}
.btn-block{
  width:100%;
}

#particles-js{
  width: 100%;
  height: 80%;
  position: absolute;z-index: 1
}